* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: auto;
  touch-action: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* min-width: 500px; */
  max-width: 100vw;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  height: 90%;
  max-height: 85%;
  flex-direction: column;
  /* padding: 1%; */
  aspect-ratio: 1 / 1;
  max-width: 100vw;
}

#main {
  position: relative;
  border: 1px solid black;
  min-width: 500px;
  min-height: 180px;
}

#informations {
  padding: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: black;
  width: 100%;
  /* height: 250px; */
  height: 35vw;
  max-height: 250px;
  min-height: 180px;
  min-width: 500px;
}

.row {
  position: relative;
  display: flex;
}

#player-pos-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35vh;
  min-height: 15px;
}

#progress-bar {
  display: flex;
  position: relative;
  width: 70%;
  height: 100%;
  max-height: 15px;
  background-color: rgb(152, 20, 20);
  overflow: hidden;
}

#progress-bar .checkpoint {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/ 1;
  background-color: royalblue;
}

.start {
  left: 0;
}

.end {
  right: 0;
}

#player-on-map {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/ 1;
  animation-name: playerBlink;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

#run-score, #total-score {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 70px;
  margin-right: 20px;
}

#run-score img, #total-score img {
  width: 15%;
  max-width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-right: 5px;
}

#game-over-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

#game-over-timer img {
  width: 30%;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
}


#oxygen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  max-height: 150px;
  /* height: 30%; */
  aspect-ratio: 1 / 1;
}

#oxygen img {
  height: 90%;
  object-fit: contain;
  max-height: 150px;
}

#bottle-fill {
  position: absolute;
  bottom: 10%;

  /* height: 25%; */
  width: 28%;
  max-height: 58%;
  background-color: pink;
  border-radius: 4px;
}

#stones {
  width: 44%;
  height: 50%;
  padding: 4px;
}

#stones img {
  position: relative;
  height: 40%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

#lives {
  display: flex;
  justify-content: flex-end;
  width: 44%;
  height: 50%;
  padding-right: 20px;
}

#lives img {
  height: 80%;
  margin-left: 10px;
  aspect-ratio: 1 / 2;
}

#bag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12%;
  top: 60%;
  width: 88%;
  /* height: 50px; */
  height: 30%;
}

#bag img {
  height: 100%;
  aspect-ratio: 1 / 1;
  margin-right: 15px;
  object-fit: contain;
}

#start-screen {
  position: fixed;
  display: "flex";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#start-screen * {
  color: white;
  text-align: center;
  padding: 50px;
}

#start-screen p {
  font-size: 26px;
}

#game-name {
  font-size: 50px;
}

#author {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

#hotkeys {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff22;
}

#hotkeys p {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

#hotkeys img, #hotkeys p {
  animation-name: hotkeysBlink;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

#hotkeys img {
  width: 50%;
  object-fit: contain;
}

#hotkeys .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-btn {
  position: absolute;
  background-color: #ffffffaa;
  width: 10vw;
  max-width: 80px;
  bottom: 20px;
  z-index: 1000;
  object-fit: contain;
  opacity: 0.6;
  aspect-ratio: 1/ 1;
}

.mobile-btn::after {
  content: "";
  display: block;
  position: absolute;
  /* background-color: red; */
  width: 10vw;
  height: 10vw;
  max-width: 80px;
  z-index: 1001;
}

#left-button {
  background: url('../img/arrow_left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


#right-button {
  transform: rotate(180deg);
  left: 12vw;
  background: url('../img/arrow_left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#up-button {
  transform: rotate(90deg);
  right: 21vw;
  background: url('../img/arrow_left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#attack-button {
  right: 32vw;
  background: url('../img/fight.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#change-weapon-button {
  right: 10vw;
  background: url('../img/change.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile-start-game {
  position: relative;
  background-color: #232323aa;
  border: none;
  font-size: 20px;
  width: 280px;
  left: calc(50% - 140px);
  font-weight: bold;
  border-radius: 15px;
}

.game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.game-end * {
  color: white;
  margin-bottom: 10px;
}

.game-end h2 {
  font-size: 32px;
  font-weight: bold;
}

.game-end p {
  font-size: 26px;
}

.game-end button {
  width: 160px;
  height: 40px;
  border: 1px solid white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}




@keyframes playerBlink {
  0%, 100% {
    background-color: #fff;
  } 50% {
    background-color: blue;
  } 
}

@keyframes hotkeysBlink {
  0%, 100% {
    opacity: 1;
  } 50% {
    opacity: 0.6;
  }
}


@media only screen and (max-width: 769px) {
  #bottle-fill {
    position: absolute;
    bottom: 10%;
  
    /* height: 25%; */
    width: 34%;
    max-height: 58%;
    background-color: pink;
    border-radius: 4px;
  }
}
